---
import { getCollection } from 'astro:content'
import dateFns from 'date-fns'
import Layout from '../layouts/Layout.astro'
import PostPreview from '../components/Post/Preview.astro'

const talks = (await getCollection('talks')).sort((a, b) =>
  dateFns.compareDesc(new Date(a.data.date), new Date(b.data.date))
)
---

<Layout
  title="Talks"
  description="Talks that I have given at meetups and conferences."
  fancyBackgroundPoints={10}
>
  <div
    id="posts"
    class:list={['flex', 'flex-col', 'gap-y-4', 'mt-4', 'prose', 'paper']}
  >
    {talks.map((talk) => <PostPreview entry={talk} />)}
  </div>
</Layout>
