!!!
html(lang="en-us")
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="/main.css")
	body
		!= partial("_shared/header")
		!= partial("_shared/nav")
		!= yield
		!= partial("_shared/footer")
