section
	:markdown
		# I'm a simple man in a complex world&hellip;

		Hi there, I'm Eli Gundry and I think the title says everything you need
		to know about me. I love everything to be as simple as possible. Simple
		life leads to less stress. A simple design is easy to understand, even
		though it may not be apprciated. Simple, reusable code is easy to work
		with and parse.

		## What exactly is a full stack web developer, anyways?

		I get this question a lot and I should probably elaborate on this.
		A full stack web developer is one that feels just as comfortable working
		with front end web code as they do working with server side code. I feel
		extremely confident developing web apps, regardless if I'm fighting
		JavaScript in Internet Explorer, adding features to a PHP web
		application, or even writing database queries.

		## Quick Facts About Eli

		* Tabs over spaces.
		* Vim over Emacs.
		* Linux, OS X, Windows. In that order.
		* I do all my programming in a terminal.
		* The Browns will win a Super Bowl in my life time.

		## How I made this site

		Every page on this website is static, which leads to quicker load times,
		easy deployment, and unparalleled security. Which is not to say that I
		didn't have help. I generate this site using [harp.js](http://harpjs.com/),
		a [node.js](http://nodejs.org/) static site generator. It's a joy to work
		with and I highly reccomend it.
