<!doctype html>
<html lang="en" itemscope itemtype="https://schema.org/Person" itemid="#eli-gundry">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>{{ title }} | {{ metadata.title }}</title>
    {% else %}
      <title>{{ metadata.title }}</title>
    {% endif %}
    <meta name="description" content="{{ description or metadata.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="alternate" type="application/rss+xml" title="Eli Gundry's Blog" href="/blog.rss" />
    <link rel="alternate" type="application/rss+xml" title="Eli Gundry's Feelings" href="/feelings.rss">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ latestFeeling.emoji }}</text></svg>" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="true" />
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="true" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    {% include 'tracking.njk' %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block header %}
      {% include 'header.njk' %}
    {% endblock %}

    <main class="container mx-auto mt-24 print:mt-0 print:pt-0">
      {% block mainContent %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% block footer %}
      {% include 'footer.njk' %}
    {% endblock %}

    {% include 'fancyBackground.njk' %}

    <script src="/js/is-land.js" type="module"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
