---
title: Blog
description: Thoughts, tutorials, musings, album reviews and everything in between that I have written down.
layout: layouts/base.njk
---

{% import 'blogPost.njk' as blogPost %}

<div class="paper prose">
  {% for post in collections.post | reverse %}
    <article itemscope itemtype="https://schema.org/BlogPosting">
      {{ blogPost.header(post) }}
      {{ blogPost.excerpt(post) }}
    </article>
  {% endfor %}
</div>
