---
layout: layouts/base.njk
---

<section class="intro paper prose">
  <h2>Glad To Meet You!</h2>
  <p>My name is Eli I only really write in lists, so here's my deal.</p>
  <ul>
    <li>
      I am a {% emojiText "🧑‍💻", "computer programmer emoji", "<strong>full stack web engineer</strong>" %}.
    </li>
    <li>
      I love to plan and {% emojiText "👨‍🍳", "chef emoji", "<strong>cook elaborate meals</strong>" %}. It really
      activates the engineering part of my brain!
    </li>
    <li>
      I have a {% emojiText "🤓", "geek emoji", "<strong>non-traditional computer science education</strong>" %}.
      I attended a vocational school in high school, taught myself web programming, bounced around colleges for computer
      science while working the entire time before deciding to go pro!
    </li>
    <li>
      I am a <strong>Vim user</strong> but I actively encourage everyone to use something else. Using Vim in {% currentYear %}
      is a cool bar trick.
    </li>
    <li>
      I currently live in {% emojiText "📍", "pin emoji to denote location", "<strong>Astoria, Queens</strong>" %}.
      I didn't think I would settle down in Queens and love it as much as I do, but life is like that sometimes.
    </li>
    <li>
      I have a {% emojiText "😼", "smirking cat emoji because Fonzie is a stinker", "<strong>fat cat named Fonzie</strong>" %}
      and I sorta have a <a href="https://twitter.com/EliGundry/status/1055933062125703168">a tattoo of him on my arm</a>.
    </li>
  </ul>
</section>

<section class="feeling paper prose">
  <h2>How I'm Feeling</h2>
  <p>
    A while ago, I decided to start journaling my feelings. Being a software engineer,
    <a href="/blog/feelings-api">I made an API out of it and put it on my website</a>. The favicon for the site the
    emoji for my latest entry.
  </p>
  <article itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="image" content="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ entry.emoji }}</text></svg>" />
    <link itemprop="author publisher" href="#eli-gundry" />
    <div>
      <div class="flex flex-row justify-between">
        <div>
          <h3 itemprop="name headline" class="mt-0">I felt {{ latestFeeling.mood }}</h3>
          <time datetime="{% formatDate latestFeeling.time, 'iso8601' %}" itemprop="datePublished dateModified">
            <a href="/feelings#{% formatDate latestFeeling.time, 'iso8601' %}">
              {% formatDate latestFeeling.time, 'iso8601' %}
            </a>
          </time>
          {% feelingsActivityList latestFeeling.activities %}
        </div>
        <div role="img" aria-label="{{ entry.mood }} emoji" class="text-9xl">
          {{ latestFeeling.emoji }}
        </div>
      </div>
      {% if latestFeeling.notes %}
        {% if latestFeeling.notes.length > 1 %}
          <ul>
            {% for note in latestFeeling.notes %}
              <li>{{ note }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{{ latestFeeling.notes[0] }}</p>
        {% endif %}
      {% endif %}
    </div>
  </article>
</section>

<section class="coding paper prose">
  <h2>Do You Code?</h2>
  <p>
    I make a living developing web applications. I jump all around the stack and will do whatever it takes to ship. Need
    me to do some devops to get this feature out? I gotcha. Some CSS is making a button look bad? I'll do my best.
    A query running to slow? Stop, I can't deal with all this excitement.
  </p>
  <p>
    GitHub contribution calendars are not a good indicator of whether or not someone is a good developer, but they are
    very pretty.
  </p>
  {% cachedImage githubActivity, "eligundry's GitHub contribution calendar", "", false %}
</section>

<section class="reading paper prose">
  <h2>What I'm Reading</h2>
  <p>
    I wish I read more, but there are only so many hours in the day. These are the books that I'm reading right now. You
    can find me on <a href="https://www.goodreads.com/user/show/29665939-eli-gundry" itemprop="sameAs">Goodreads</a>.
  </p>
  <div class="bookshelf not-prose">
    {% for shelf, books in bookShelves %}
      {% for book in books %}
        <a href="{{ book.url }}" target="_blank" rel="noopener noreferrer">
          {% set alt %}{% if shelf == 'currentlyReading' %}Currently Reading: {% endif %}{{ book.title }} - {{ book.author }}{% endset %}
          {% cachedToolTipImage book.cover, alt %}
        </a>
      {% endfor %}
    {% endfor %}
  </div>
</section>

<section class="listening paper prose">
  <h2>What I'm Listening To</h2>
  <p>
    I listen to way too much music and I love to listen to full albums. I mainly listen to hip hop, indie rock and <a href="/blog/icymi-glocca-morra-just-married"><abbr title="Ask me about the fun 5th wave emo bands I love">emo</abbr></a>.
    I occasionally write reviews of old albums that I love but aren't well known in a series called <a href="/tags/icymi"><abbr title="I See You Missed It">ICYMI</abbr></a>.
  </p>
  <div class="flex flex-row gap-4">
    <div>
      <h3>Seasonal Playlist</h3>
      <iframe title="Spotify playlist that I have on repeat" src="{{ metadata.spotifyPlaylist }}" width="300" height="380" frameborder="0" allow="encrypted-media" loading="lazy"></iframe>
    </div>
    <div>
      <h3>On Repeat</h3>
      <a href="https://www.last.fm/user/eli_pwnd" class="grid grid-cols-3 h-fit gap-0 not-prose">
        {% for album in topAlbums %}
          {% set alt %}{{ album.name }} - {{ album.artist }} [{{ album.count }} scrobbles]{% endset %}
          {% cachedToolTipImage album.cover, alt %}
        {% endfor %}
      </a>
    </div>
  </div>
</section>
