---
title: Resume
layout: layouts/base.njk
---

{% import 'resume/experience.njk' as experience %}

<div class="paper">
  <section class="prose">
    <header class="[&>h2]:mt-0">
      <h2>Skills & Technologies</h2>
    </header>
    <ul>
      {% for section in resume.skills %}
        <li>
          {% if section.name == 'Languages' %}
            Fluent in
          {% elif section.name == 'Frameworks' %}
            Built complext web applications using
          {% elif section.name == 'Tools' %}
            Loves using
          {% elif section.name == 'Love Hate' %}
            Has a love-hate relationship (that I will happily explain) with
          {% endif %}

          {% resumeSkillList section.keywords %}
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="prose">
    <header>
      <h2>Work</h2>
    </header>
    {% for exp in resume.work %}
      {{ experience.section('work', exp) }}
    {% endfor %}
  </section>

  <section class="prose">
    <header>
      <h2>Education</h2>
    </header>
    {% for exp in resume.education %}
      {{ experience.section('education', exp) }}
    {% endfor %}
  </section>

  <section class="prose">
    <header>
      <h2>Activities & Interests</h2>
      <ul>
        {% for ai in resume.activitesInterests %}
          <li>{{ ai | safe }}</li>
        {% endfor %}
      </ul>
    </header>
  </section>
</div>
