---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all -%}
    {% set lastmod -%}{{ page.inputPath | getGitCommitDateFromPath }}{% endset %}
    {% if page.url == "/" or page.url == "/feelings/" -%}
      {% set lastmod %}{{ latestFeeling.time }}{% endset -%}
    {% endif -%}
    <url>
      <loc>{{ metadata.url }}{{ page.url | url }}</loc>
      <lastmod>{% formatDate lastmod, 'iso8601' %}</lastmod>
      <changefreq>daily</changefreq>
      <priority>0.7</priority>
    </url>
  {%- endfor %}
</urlset>
