---
permalink: /blog.rss
eleventyExcludeFromCollections: true
---

{% extends 'layouts/feed.njk' %}

{% block title %}Eli Gundry{% endblock %}
{% block link %}{{ metadata.url }}/blog{% endblock %}
{% block description %}Eli Gundry is a full stack web developer that loves JavaScript, devops and web standards. When he isn't coding, he's 👨‍🍳cooking up something mean in the kitchen, 🎾 playing tennis or 🐈🐈‍⬛annoying his cats.{% endblock %}
{% block items %}
  {%- for post in collections.post | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <guid>{{ absolutePostUrl }}</guid>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <description><![CDATA[{{ post.data.description }}]]></description>
      <content:encoded><![CDATA[{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]></content:encoded>
    </item>
  {%- endfor %}
{% endblock %}
