---
permalink: /feelings.rss
eleventyExcludeFromCollections: true
---

{% extends 'layouts/feed.njk' %}

{% block title %}Eli Gundry's Feelings{% endblock %}
{% block link %}{{ metadata.url }}/feelings{% endblock %}
{% block description %}A daily journal of how I'm feeling.{% endblock %}
{% block items %}
  {%- for entry in feelings %}
    <item>
      <title>I felt {{ entry.mood }}</title>
      <link>{{ metadata.url }}/feelings#{% formatDate entry.time, 'iso8601' %}</link>
      <guid>{{ metadata.url }}/feelings#{% formatDate entry.time, 'iso8601' %}</guid>
      <pubDate>{{ entry.time | dateToRfc822 }}</pubDate>
      <content:encoded>
        <![CDATA[
          {%- if entry.notes.length > 1 %}
            <ul>
            {%- for note in entry.notes %}
              <li>{{ note }}</li>
            {%- endfor %}
            </ul>
          {%- else -%}<p>{{ entry.notes[0] }}</p>{%- endif %}
        ]]>
      </content:encoded>
    </item>
  {%- endfor %}
{% endblock %}
