.container {
  @apply flex flex-row xs:flex-col sm:flex-col;

  & > div {
    height: 100%;
  }

  & :global(.spotify-playlist-wrapper) {
    @apply mr-4 xs:mb-4 sm:mb-4;
    max-width: 100%;
    height: fit-content;
  }
}

.lastFMWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: fit-content;
}
