footer(role="contentinfo")
	address
		dl
			dt Email
			dd
				a(href="mailto:eligundry@gmail.com") eligundry@gmail.com
			dt Phone
			dd 330.828.6147
			dt URL
			dd
				a(href="https://twitter.com/EliGundry") Twitter
				a(href="https://github.com/eligundry") GitHub
