#fancy-background-canvas[data-active='true'] {
  --fluid-pattern-bg-color: transparent;
  --fluid-pattern-color-1: var(--color-primary);
  --fluid-pattern-color-2: var(--color-secondary);
  --fluid-pattern-color-3: var(--color-warning);
  --fluid-pattern-color-4: var(--color-error);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: paint(fluidPattern);
  z-index: -100000;

  @apply print:hidden hidden sm:block;
}
