---
import { Image, getImage } from 'astro:assets'
import clouds from '../assets/img/memoji/clouds.png'
import coding from '../assets/img/memoji/coding.png'
import dazed from '../assets/img/memoji/dazed.png'
import determined from '../assets/img/memoji/determined.png'
import eyeroll from '../assets/img/memoji/eyeroll.png'
import hearts from '../assets/img/memoji/hearts.png'
import kiss from '../assets/img/memoji/kiss.png'
import no from '../assets/img/memoji/no.png'
import party from '../assets/img/memoji/party.png'
import shh from '../assets/img/memoji/shh.png'
import shocked from '../assets/img/memoji/shocked.png'
import stars from '../assets/img/memoji/stars.png'
import swearing from '../assets/img/memoji/swearing.png'
import sweat from '../assets/img/memoji/sweat.png'
import thinking from '../assets/img/memoji/thinking.png'
import thumbsUp from '../assets/img/memoji/thumbs-up.png'
import wink from '../assets/img/memoji/wink.png'

const memojis = [
  clouds,
  coding,
  dazed,
  determined,
  eyeroll,
  hearts,
  kiss,
  no,
  party,
  shh,
  shocked,
  stars,
  swearing,
  sweat,
  thinking,
  thumbsUp,
  wink,
]
---

<button
  class:list={[
    'float-right',
    'hidden',
    'sm:block',
    'w-[300px]',
    'h-[300px]',
    '!cursor-pointer',
    '[&>img]:cursor-pointer',
    'tooltip',
    'tooltip-primary',
  ]}
  id="memoji-wrapper"
  data-tip="Click me! I have a range of emotions!"
>
  {
    memojis.map((memoji) => (
      <Image
        src={memoji}
        width={300}
        height={300}
        format="webp"
        class:list={['hidden', 'my-0', 'tooltip', 'tooltip-primary']}
        alt="Eli Gundry Memoji"
      />
    ))
  }
</button>

<script>
  const memojiWrapper = document.getElementById('memoji-wrapper')

  function showRandomMemoji() {
    if (!memojiWrapper) return

    const memojis = memojiWrapper.querySelectorAll('img.hidden')
    const shownMemoji = memojiWrapper.querySelector('img:not(.hidden)')

    if (shownMemoji) {
      shownMemoji.classList.add('hidden')
    }

    memojis[Math.floor(Math.random() * memojis.length)].classList.remove(
      'hidden'
    )
  }

  document.addEventListener('DOMContentLoaded', showRandomMemoji)
  const memojiInterval = setInterval(showRandomMemoji, 2000)

  if (memojiWrapper) {
    memojiWrapper.addEventListener('click', () => {
      clearInterval(memojiInterval)
      showRandomMemoji()
    })
  }
</script>
