<footer class="footer" role="contentinfo">
  <address>
    <div class="email">
      <i class="fa fa-envelope-o" title="Email">
        <span class="hidden">Email</span>
      </i>
      <a href="mailto:{{ config.EMAIL }}">
        <span itemprop="email">{{ config.EMAIL }}</span>
      </a>
    </div>
    <div class="phone">
      <i class="fa fa-phone" title="Phone">
        <span class="hidden">Phone</span>
      </i>
      <a href="tel:{{ config.INTL_PHONE }}">
        <span itemprop="telephone">{{ config.PHONE }}</span>
      </a>
    </div>
    <div class="location" itemscope itemtype="https://schema.org/PostalAddress">
      <i class="fa fa-map-marker" title="Location">
        <span class="hidden">Location</span>
      </i>
      <a href="{{ config.GOOGLE_MAP_LINK }}" itemprop="url">
        <span itemprop="addressLocality">{{ config.ADDRESS_LOCALITY }}</span>,
        <abbr itemprop="addressRegion" title="{{ config.ADDRESS_REGION }}">{{ config.ADDRESS_REGION_ABBR }}</abbr>,
        <abbr itemprop="addressCountry" title="{{ config.ADDRESS_COUNTRY }}">{{ config.ADDRESS_COUNTRY_ABBR }}</abbr>
      </a>
    </div>
    <div class="web">
      <i class="fa fa-globe">
        <span class="hidden">Web</span>
      </i>
      {% for href, data in config.SOCIAL_MAPPING.items() %}
      <a href="{{ href }}" title="{{ data.title }}" itemprop="url">
        <i class="fa fa-{{ data.fa }} print-hide">
          <span class="hide">{{ data.title }}</span>
        </i>
      </a>
      {% endfor %}
    </div>
  </address>
</footer>
