<footer class="footer" role="contentinfo">
  <address>
    {%- for class_, data in bag('contact').items() %}
      <div class="{{ class_ }}" {% if data.itemtype %}itemscope itemtype="{{ data.itemtype }}{% endif %}">
        <i class="fa fa-{{ data.fa }}" title="{{ data.title }}"></i>
        <div class="items">
          {% if data.elements -%}
            {%- set link_wrap = data.href %}
            {%- if link_wrap %}<a href="{{ data.href}}" itemprop="url">{% endif %}

            {% for item in data.elements -%}
                {% if item.href %}
                  <{{ item.tag }} href="{{ item.href }}" itemprop="url" title="{{ item.title }}" {% if item.class %}class="{{ item.class }}"{% endif %}>
                    <i class="fa fa-{{ item.fa }}"></i>
                  </{{ item.tag }}>
                {% else %}
                  <{{ item.tag }} itemprop="{{ item.itemprop }}">
                    {{ item.text -}}
                  </{{ item.tag }}>
                {% endif %}
            {% endfor %}

            {% if link_wrap %}</a>{% endif %}

          {% else %}
            <a href="{{ data.href|safe }}">
              <span itemprop="{{ data.itemprop }}">
                {{ data.text|safe }}
              </span>
            </a>
          {% endif %}
        </div>
      </div>
    {%- endfor %}
  </address>
</footer>
