<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="msapplication-navbutton-color" content="#f00">
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//eligundry.disqus.com">
<link rel="author" href="{{ config.GOOGLE_PLUS_LINK }}">
<link rel="href" href="/humans.txt">
<link rel="alternate" href="/feed.xml" type="application/rss+xml" title="RSS">
