<footer class="footer">
  <div class="container mx-auto flex flex-row">
    <div>
      <h3 class="footer-title">About</h3>
      <p>
        Eli Gundry is a full stack web developer that loves JavaScript, devops and web standards.
      </p>
    </div>
    <div>
      <h3 class="footer-title">Social</h3>
      <div>
        {% for link in social %}
          <a href="{{ link.href }}" class="btn btn-square btn-primary" title="{{ link.label }}">
            <i class="{{ link.icon }} text-4xl"></i>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
