.article {
  & header {
    @apply font-normal;

    & h1 {
      @apply font-extrabold font-sans break-normal text-typographyDark pb-2 text-3xl md:text-4xl;

      :global(body.dark) & {
        @apply text-white;
      }
    }

    & :global(:not(h1) + :not(h1)) {
      @apply my-0;
    }
  }

  & > :global(*) {
    @apply block;
  }

  & :global(.body) {
    & :global(.twitter-tweet) {
      margin: 0 auto;
    }

    & > *:first-child {
      @apply mt-4;
    }

    & > *:last-child {
      @apply mb-4;
    }

    & img[src*='.gif'] {
      margin: 0 auto;
    }

    & figure {
      & > p {
        @apply mb-0;
      }

      figcaption {
        @apply italic text-center py-4 font-serif;

        & > p {
          @apply my-0;
        }
      }

      & + p {
        @apply mt-0;
      }
    }

    & *:not(p, ul, ol) + h1 {
      @apply mt-4;
    }

    & h1 + *:not(p, ul, ol) {
      @apply mt-4;
    }

    & iframe {
      max-width: 100%;
      @apply my-4;
    }

    & :global(.float-right) {
      float: right;
      @apply ml-2 sm:float-none sm:mx-auto;
    }

    & :global(.float-left) {
      float: left;
      @apply mr-2 sm:float-none sm:mx-auto;
    }

    & :global(.center) {
      margin: 1em auto;
    }

    & :global(iframe[src*='giphy.com']) {
      @apply my-0;
    }

    & *:not(pre) code {
      @apply bg-siteBackground break-words;

      :global(body.dark) & {
        @apply bg-black;
      }
    }
  }

  & :global(.lazyload-footer-wrapper) {
    min-height: 270px;
  }
}

.description {
  @apply italic;

  & span {
    @apply not-italic;
  }
}
