// Grid System
//==============================================================================

@columns: 12;
@column-width: 95;
@gutter-width: 0;
@total-width: 70%;

// Colors
//==============================================================================

@textColor: #444;
@linkColor: #f00;

// Typography
//==============================================================================

@defaultFontSize: 20px;
@sansFontFamily: "Raleway", sans-serif;
@serifFontFamily: "Goudy Bookletter 1911", serif;
@monospaceFontFamily: monospace;
