.blog-loop article {
	h2 {
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
	}
}

.blog-post main,
.blog-loop article {
	.fa {
		margin-right: 4px;
	}

	.fa,
	time {
		font-size: .8em;
	}

	time {
		font-weight: bold;
	}
}

.blog-post main {
	header {
		border-bottom: 2px solid #444;
		padding-bottom: 1em;

		h1 {
			margin-bottom: 0;
		}
	}

	section {
		border-bottom: 2px solid #444;
		margin-bottom: 1em;

		h1 {
			font-size: 1.75em;
			margin: .5em 0;
		}
	}

	footer {
		margin-bottom: 1em;
	}
}
