.blog-post main {
	header {
		border-bottom: 2px solid #444;
		padding-bottom: 1em;

		h1 {
			margin-bottom: 0;
		}

		time {
			&:before {
				content: " // ";
			}
		}
	}

	section {
		border-bottom: 2px solid #444;
		margin-bottom: 1em;

		ul, ol {
			padding-left: 0;

			ul, ol {
				padding-left: 40px;
			}
		}

		blockquote {
			background-color: rgba(0, 0, 0, .1);
			border-left: #f00 solid 30px;
			border-radius: 0 .5em .5em 0;
			margin: 1em 0;
			padding: .5em 1em;
		}

		q {
			font-family: @monospaceFontFamily;
		}
	}

	footer {
		margin-bottom: 1em;
	}
}
