@import "_grid";

@media screen and (max-device-width: 640px) and (max-width: 640px) {
	body {
		font-size: 16px;
		width: 87%;
	}

	.top-header h2 {
		display: none;
	}

	figure, figure img {
		max-width: 100%;
	}

	figure img {
		display: block;
		margin: 0 auto;
	}

	.pull-left, .pull-right {
		display: block;
		float: none;
		margin: 0 auto;
	}

	.pull-left {
		margin-right: 0;
	}

	.pull-right {
		margin-left: 0;
	}

	.pull-quote {
		width: 100%;
	}

	.footer {
		address div {
			.column(12);
		}
	}
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	body {
		width: 90%;
	}

	.pull-quote {
		width: 40%;
	}
}
