.footer {
    border-top: @divider;
    font-size: 1em;
    padding-top: .5em;
    margin-bottom: 2em;
    .clearfix();

    address {
        font-family: @sansFontFamily;
        font-style: normal;
        font-weight: @sansFontWeight;

        div {
            float: left;
            margin-right: 1em;

            @media @mobile {
                display: block;
                float: none;
                margin-right: 0;
            }

            .fa {
                vertical-align: middle;

                @media @mobile {
                    width: 20px;
                }
            }
        }

        abbr {
            border-bottom: none;
        }

        .web a {
            &:hover,
            &:focus {
                border-bottom: 0;
            }
        }
    }
}
