@media print {
    body {
        width: 95%;
        font-size: 12px;
        min-height: auto;
    }

    header {
        h1 {
            margin-top: 0;
        }

        h2 {
            margin-bottom: 0;
        }
    }

    nav {
        display: none;
    }

    .print-show {
        visibility: visible;
    }

    .print-hide {
        visibility: hidden;
        display: none;
    }

    [id*='/resume'] {
        main {
            h2 {
                margin-bottom: 5px;

                &:first-child {
                    margin-top: 0;
                }

                &:after {
                    border-bottom-width: 2px;
                    margin-top: 0;
                    width: 100%;
                }

                .resume-action {
                    display: inline;
                }
            }
        }

        .resume-hide {
            display: none;
            visibility: hidden;
        }
    }

    .blog-post main {
        section {
            border-bottom: none;
        }
    }

    footer {
        border-top-width: 2px !important;
        margin-bottom: 0 !important;

        .web {
            a {
                display: block !important;
                height: 12px;

                &:after {
                    content: attr(href);
                    display: block;
                    font-size: 11px;
                    margin-top: -16px;
                }
            }
        }
    }

     #lektor-edit-link {
         display: none;
     }
}
