---
import Layout from '../layouts/Layout.astro'
import Experience from '../components/Resume/Experience.astro'
import Section from '../components/Resume/Section.astro'
import Footer from '../components/Resume/Footer.astro'
import { FaDownload } from 'react-icons/fa'
import { getCollection, getEntry } from 'astro:content'
import * as dateFns from 'date-fns'
import { skillsComponents } from '../components/Resume/mdxComponents'

const experiences = await getCollection('resumeExperiences').then(
  (experiences) =>
    experiences.sort((a, b) =>
      dateFns.compareDesc(a.data.startDate, b.data.startDate)
    )
)

const Skills = await getEntry('sections', 'resume-skills')?.then(
  async (section) => {
    if (!section) {
      throw new Error('No "resume-skills" section found')
    }
    const { Content } = await section.render()
    return Content
  }
)

const Activities = await getEntry('sections', 'resume-activities')?.then(
  async (section) => {
    if (!section) {
      throw new Error('No "resume-activities" section found')
    }
    const { Content } = await section.render()
    return Content
  }
)

const work = experiences.filter((experience) => experience.data.type === 'work')
const education = experiences.filter(
  (experience) => experience.data.type === 'education'
)
---

<Layout
  title="Resume"
  description="You should hire me! My resume is pretty nice and I can bring a lot to any team."
>
  <div
    class:list={[
      'paper',
      'gap-4',
      'flex',
      'flex-col',
      '[&_.prose_ul]:list-outside',
      '[&_.prose_ul]:pl-1',
      '[&_.prose_ul]:sm:pl-0',
      '[&_.prose_ul_li]:pl-0',
      '[&_.prose_ul_ul]:pl-4',
      '[&_.prose_ul_ul]:my-0',
      '[&_.prose]:print:text-sm',
    ]}
  >
    <header
      class="hidden print:flex flex-row justify-between prose border-b-2 border-b-accent"
    >
      <h1 class="text-lg mb-0">Eli Gundry</h1>
      <h2 class="text-sm mt-0 !font-mono self-center">
        <span class="text-primary">Full Stack Web Engineer</span>
        <span class="comment">
          // <span class="font-normal">❤️</span> Typescript, AI and everything inbetween</span
        >
      </h2>
    </header>
    <Section>
      <header class="flex justify-between border-b-2 border-b-accent">
        <h2 class="my-0 text-lg block print:hidden">Work</h2>
        <h2 class="my-0 text-lg hidden print:block">Selected Work History</h2>
        <h6
          class:list={[
            'self-center',
            'italic',
            'text-neutral-900',
            'text-xs',
            'hidden',
            'print:!block',
          ]}
        >
          View full resume at <a href="/resume/">eligundry.com/resume/</a>
        </h6>
        <button
          class:list={[
            'print-button',
            'btn',
            'btn-sm',
            'btn-ghost',
            'sm:tooltip',
            'sm:tooltip-primary',
            'sm:tooltip-left',
            'self-start',
            'normal-case',
            'print:!hidden',
            'sm:inline',
          ]}
          data-tip="Download this resume by printing it as a PDF"
          aria-label="Download this resume by printing it as a PDF"
        >
          <FaDownload />
        </button>
      </header>
      {work.map((job) => <Experience experience={job} />)}
    </Section>

    <Section title="Education">
      {education.map((school) => <Experience experience={school} />)}
    </Section>

    <Section title="Skills & Technologies" className="[&>ul]:mt-0">
      <Skills components={skillsComponents} />
    </Section>

    <Section title="Activities & Interests" className="[&>ul]:mt-0">
      <Activities components={skillsComponents} />
    </Section>
    <Footer />
  </div>
</Layout>

<style>
  @page {
    margin-bottom: 0.5cm;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const printBtn = document.querySelector('.print-button')

    if (!printBtn) {
      return
    }

    printBtn.addEventListener('click', () => {
      window.print()
    })
  })
</script>
