.section {
  @apply mb-4;

  & h2 {
    @apply text-4xl text-primary font-extrabold;
  }

  & h3 {
    @apply font-semibold text-primary;
  }

  & :global(.react-activity-calendar) {
    @apply font-mono;
  }
}

.introductionHero {
  display: block;
}

.headshot {
  min-width: 250px;
  width: 250px;
  height: 250px;

  @apply float-right ml-8 sm:hidden;
}

.vimIcon {
  height: 1.5rem;
  width: 1.5rem;
  display: inline;
  vertical-align: top;
}
