---
export interface Props {
  emoji: string
  label: string
  className?: string
  fallback?: any
}

const { emoji, label, className } = Astro.props
---

<span role="img" aria-label={label} class:list={['emoji', className]}>
  {emoji}
</span>
<slot />
