---
interface Props {
  title?: any
  className?: string
}

const { title, className } = Astro.props
---

<section
  class:list={[
    'prose',
    'flex',
    'flex-col',
    'gap-2',
    ['[&>ul]:order-5', '[&>p]:order-5'],
    ['[&>ul]:my-2', '[&>p]:my-2'],
    className,
  ]}
>
  {
    title && (
      <header>
        <h2 class="my-0 border-b-2 border-b-accent text-lg">{title}</h2>
      </header>
    )
  }
  <slot />
</section>
