@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply link link-primary link-hover;
}

.paper {
  @apply prose mb-4;
}

.tooltip {
  z-index: 10000000;
}

.bookshelf {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 1vw;
  margin: 0 1vw 1vw;
  margin-left: 0;
  text-align: center;
}
