.header {
  @apply fixed print:relative w-full z-10 top-0 sm:bg-white sm:shadow bg-white shadow print:shadow-none print:bg-transparent;

  :global(body.dark) & {
    @apply sm:bg-typographyDark bg-typographyDark;
  }

  & :global(.wrapper) {
    @apply w-full md:max-w-3xl mx-auto flex flex-wrap flex-row items-center sm:flex-col sm:items-start justify-between mt-0 py-3 sm:px-4;

    margin-top: -1.5rem;
  }

  & h1 {
    & a {
      @apply text-typographyDark hover:text-primary text-base no-underline hover:no-underline font-extrabold text-xl;

      :global(body.dark) & {
        @apply text-white;
      }
    }
  }
}

.progressBar {
  @apply h-1 z-20 top-0 print:hidden;

  vertical-align: top;
  width: 100%;

  &[value]::-webkit-progress-bar {
    @apply bg-liteGray;

    :global(body.dark) & {
      @apply bg-typographyLite;
    }
  }

  &[value]::-webkit-progress-value {
    @apply bg-primary;
  }
}
