<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome{% endblock %} — Eli Gundry</title>
    <meta name="description" content="{{ this.description or bag('author').site_description }}">
    {% include 'includes/meta.html' %}
    {%- block stylesheets %}
    <link rel="stylesheet" href="{{ '/static/gen/styles.css'|asseturl }}">
    {%- endblock %}
    {%- block head_javascripts %}
    <script src="{{ '/static/gen/turbolinks.js'|asseturl }}"></script>
    {%- endblock %}
  </head>
  <body id="{{ this.path }}" class="{{ this._model }}" itemscope="itemscope" itemtype="https://schema.org/Person">
    {%- block header %}
      {% include 'includes/header.html' %}
    {%- endblock %}

    {%- block outer_body %}
      <main role="main">
        {% block body %}{% endblock %}
      </main>
    {%- endblock %}

    {%- block footer %}
      {% include 'includes/footer.html' %}
    {%- endblock %}

    {%- block javascripts %}
      {% include 'includes/scripts.html' %}
    {%- endblock %}
  </body>
</html>
