<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{% block title %}{% endblock %}</title>
    <link>{% block link %}{{ metadata.url }}{% endblock %}</link>
    <description><![CDATA[{% block description %}{% endblock %}]]></description>
    <lastBuildDate>{{ metadata.now | dateToRfc822 }}</lastBuildDate>
    <language>en-US</language>
    <copyright>2022 Eli Gundry</copyright>
    {%- block items %}{% endblock %}
  </channel>
</rss>
