{% extends "./base.njk" %}

{% block mainContent %}
  <article class="paper" itemscope itemtype="https://schema.org/BlogPosting">
    <link itemprop="author publisher" href="#eli-gundry">
    <header>
      <h1 itemprop="name headline">{{ title }}</h1>
      <p itemprop="description">{{ description }}</p>
    </header>
    <main itemprop="text">
      {{ content | safe }}
    </main>
  </article>
{% endblock %}
