@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-siteBackground print:bg-transparent font-serif leading-normal tracking-normal;

  &.dark {
    @apply bg-black text-white;
  }

  .wf-zillaslab-n4-loading & {
    font-family: Georgia;
    letter-spacing: -0.2px;
  }
}

h1 {
  @apply text-2xl font-sans font-bold text-3xl;
}

h2 {
  @apply text-xl font-sans font-bold;
}

h3 {
  @apply text-lg font-sans font-bold;
}

.wf-firasans-n4-loading {
  h1, h2, h3 {
    font-family: Helvetica;
    letter-spacing: -0.75px;
  }
}

ul {
  list-style: square;
  @apply pl-8 my-4;

  & ul, & ol {
    @apply mt-0 mb-0;
  }
}

ol {
  @apply list-decimal pl-8 my-4;

  & ul, & ol {
    @apply mt-0 mb-0;
  }
}

a {
  @apply text-primary hover:underline focus:underline;
}

p {
  @apply my-4;
}

blockquote {
  @apply border-l-4 border-primary italic my-8 pl-8 md:pl-12;
}

address {
  @apply not-italic;
}

code {
  @apply font-mono;
}

pre[class*="language-"] {
  @apply text-base;
}
