@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './code.css';
@import './fancyBackground.css';

@layer base {
  a:not(.btn) {
    @apply link link-primary link-hover;
  }
}

@layer components {
  .paper {
    @apply max-w-none mb-4 drop-shadow-xl print:drop-shadow-none bg-base-100/90 p-4 rounded-lg;
  }
}

@layer utilities {
  .input-disabled {
    pointer-events: none;
  }

  .page-break-avoid {
    page-break-inside: avoid;
  }
}

.prose {
  @apply max-w-none;
}

.tooltip {
  z-index: 10000000;
}

.bookshelf {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 1vw;
  margin: 0 1vw 1vw;
  margin-left: 0;
  text-align: center;
}

header.navbar {
  & .site-name {
    @apply pl-0;
  }

  & a:hover,
  & a:focus {
    @apply no-underline text-primary bg-transparent;
  }

  & .menu {
    & a {
      @apply link-neutral hover:link-primary;
    }

    & a[aria-current='page'] {
      @apply link-primary font-bold text-primary;
    }
  }
}
