@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fancyBackground.css';
@import './prism-material.css';

@layer base {
  html {
    @apply font-serif;
  }
}

@layer components {
  .paper {
    @apply w-full p-4 print:py-0;
  }

  .code-wrapper {
    @apply rounded-2xl;
  }

  .code-wrapper-header {
    @apply pt-4 ml-4 font-mono;
  }

  .astro-code {
    @apply relative overflow-hidden overflow-x-scroll min-w-[18rem] pt-2 pb-6  pr-4 rounded-2xl;
    padding-right: 2ch;
  }

  .astro-code.astro-code-compact {
    @apply py-0;
  }

  .astro-code > pre {
    @apply pl-4;
  }

  .astro-code > pre > code {
    @apply pr-4;
  }

  .astro-code > pre:before {
    content: '';
    margin-right: 2ch;
  }

  .astro-code pre[data-prefix]:before {
    content: attr(data-prefix);
    display: inline-block;
    text-align: right;
    width: 2rem;
    opacity: 0.5;
  }
}

@layer utilities {
  .input-disabled {
    pointer-events: none;
  }

  .page-break-avoid {
    page-break-inside: avoid;
  }
}

.prose {
  @apply !max-w-none font-serif;
}

.prose *:not(pre) > code {
  @apply p-0;
}

.prose a:not(.btn) {
  @apply link link-primary link-hover;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-sans font-black;

  & a {
    @apply font-black;
  }
}

.btn {
  @apply font-sans !cursor-pointer;
}

.tooltip {
  cursor: default;
}

.mockup-code {
  @apply pb-0;
}

.mockup-code .line,
.mockup-code .code-line {
  @apply pl-6;
}

.code-wrapper + h1 {
  @apply mt-4;
}

.prose pre:has(.mockup-code) {
  @apply p-0;
}

#scroll-progress[value]::-webkit-progress-value {
  @apply rounded-l-none;
}

#scroll-progress[value].full::-webkit-progress-value {
  @apply rounded-r-none;
}
