@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fancyBackground.css';
@import './code.css';

@layer components {
  .paper {
    @apply max-w-none mb-4 drop-shadow-xl print:drop-shadow-none bg-base-100/90 p-4 rounded-lg;
  }
}

@layer utilities {
  .input-disabled {
    pointer-events: none;
  }

  .page-break-avoid {
    page-break-inside: avoid;
  }
}

.prose {
  @apply max-w-none;
}

.prose *:not(pre) > code {
  @apply p-0;
}

.prose a:not(.btn) {
  @apply link link-primary link-hover;
}

.tooltip {
  cursor: default;
  z-index: 10000000;
}

.bookshelf {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 1vw;
  margin: 0 1vw 1vw;
  margin-left: 0;
  text-align: center;
}
