.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-post h1 {
  margin-bottom: .25em;
}

.blog-post blockquote {
  font-style: italic;
  border-left: 2em solid black;
  padding-left: 1em;
  margin-left: 0;
}
