---
title: Talks
description: Talks that I have given at meetups and conferences.
layout: layouts/base.njk
---

<div class="paper">
  {% for talk in collections.talk | reverse %}
    <article>
      <h1 itemprop="name headline">
        <a itemprop="url" href="{{ talk.url }}">{{ talk.data.title }}</a>
      </h1>
      <p itemprop="description">{{ talk.data.description }}</p>
    </article>
  {% endfor %}
</div>
