// Top level styles
.resumeContainer {
  @apply print:mb-16 print:text-base print:ml-1;

  & h2 {
    @apply font-extrabold text-xl;
  }

  & header {
    @apply border-b-2 border-liteGray mb-2 flex flex-row justify-between;

    & svg {
      margin-top: 3px;
      @apply inline align-text-top;
    }
  }

  & :global(.full-work-cta) {
    @apply font-mono text-xs;
    letter-spacing: -0.6px;
    margin-top: 9px;
  }

  & ul {
    @apply m-0 pl-0 list-inside print:list-outside;

    & ul, ol {
      @apply pl-8;
    }
  }

  & :global(.hackathons) {
    @media print, (min-width: theme('screens.md')) {
      columns: 2;
    }
  }
}

.parseOptimizedResumeContainer {
  @apply print:font-parseSafeSerif;

  & :global(.full-work-cta) {
    @apply print:font-parseSafeMono;
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply font-parseSafeSans;
  }

  & code {
    @apply font-parseSafeMono;
  }
}

// Header styles
.resumeHeader {
  @apply flex flex-row;
  border: 0 !important;

  & h1 a {
    @apply text-typographyDark text-2xl font-extrabold;
  }

  & h2 {
    @apply text-primary text-sm;

    & :global(.comment) {
      @apply text-typographyLite;
    }
  }
}

.parseOptimizedResumeHeader {
  & h2 {
    margin-top: 10px;
  }
}

// Experience items
.experience {
  @apply flex flex-wrap justify-between mb-4;
  page-break-inside: avoid;
}

.experienceName,
.experienceTenure,
.experienceTitle,
.experienceLocation {
  @apply w-1/2 print:w-1/2 sm:w-full xs:w-full m-0;
  line-height: 1.25em;
}

.experienceName {
  @apply order-1;
  @apply font-bold text-xl;
}

.experienceTitle {
  @apply order-3 print:order-3 xs:order-2 sm:order-2;
  @apply font-semibold font-sans text-base;
}

.parseOptimizedExperienceTitle {
  @apply print:font-parseSafeSans;
}

.experienceTenure {
  @apply order-2 print:order-2 xs:order-3 sm:order-3;
}

.notParseOptimizedExperienceTenure {
  @media print, (min-width: theme('screens.md')) {
    &:after {
      content: '🗓';
      @apply ml-1;
    }
  }

  @media (not print and (max-width: theme('screens.md'))) {
    &:before {
      content: '🗓';
      @apply mr-2;
    }
  }
}

.experienceLocation {
  @apply not-italic print:order-4 order-4;
}

.notParseOptimizedExperienceLocation {
  @media print, (min-width: theme('screens.md')) {
    &:after {
      content: '📍';
      @apply ml-1;
    }
  }

  @media (not print and (max-width: theme('screens.md'))) {
    &:before {
      content: '📍';
      @apply mr-2;
    }
  }
}

.experienceTenure,
.experienceLocation {
  @apply text-sm font-mono;
  @apply text-right print:text-right sm:text-left xs:text-left;
  letter-spacing: -0.6px;
  margin-top: 4px;
}

.parseOptimizedExperienceTenure,
.parseOptimizedExperienceLocation {
  @apply print:font-parseSafeMono;
}

.experienceDescription,
.experienceSummary {
  @apply m-0 order-5;
}

// Footer styles
.resumeFooter {
  @apply flex flex-row w-full font-sans font-bold text-xs;

  & > * {
    @apply mr-4;

    &:last-child {
      @apply mr-0;
    }
  }

  & svg {
    @apply inline;
  }
}

.parseOptimizedResumeFooter {
  @apply print:font-parseSafeSans pb-2 justify-end;
}

.notParseOptimizedResumeFooter {
  @apply fixed bottom-0 border-t-2 pt-2;
}
