footer(role="contentinfo", class="footer")
	address
		div(class="email")
			strong Email
			a(href="mailto:#{ email }") #{ email }
		div(class="phone")
			strong Phone
			span 330.828.6147
		div(class="web")
			strong Web
			a(href="https://twitter.com/#{ url.twitter }", class="icon-twitter")
			a(href="https://github.com/#{ url.github }", class="icon-github")
