footer(role="contentinfo", class="footer")
	address
		div
			strong Email
			a(href="mailto:#{ email }") #{ email }
		div
			strong Phone
			span 330.828.6147
		div
			strong Web
			a(href="https://twitter.com/#{ url.twitter }") Twitter
			a(href="https://github.com/#{ url.github }") GitHub
