footer(role="contentinfo")
	address
		dl
			dt Email
			dd
				a(href="mailto:#{ email }") #{ email }
			dt Phone
			dd 330.828.6147
			dt URL
			dd
				a(href="https://twitter.com/#{ url.twitter }") Twitter
				a(href="https://github.com/#{ url.github }") GitHub
